:root {
    --vp-c-brand: #646cff;
    --vp-c-brand-light: #747bff;
  
    --vp-c-brand-dark: #646cff;
  }
  
/* Overriding some conflicts between bootstrap and vitepress */

p {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

h4 {
  margin-top: 2rem;
}